# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized

### **Objectives:**
**In this final assignment, you will:**
 - Create a Jupyter Notebook
 - Insert code and markdown cells
 - Share your notebook through GitHub

#### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Javascript
5. C++

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Keras
3. Pandas
4. PyTorch
5. SciPy

<p style="text-align:right">

|Data Science Tools|
--------------------
| JupyterLab|
|GoogleColab|
|Spyder|
</p>

### Below are a few examples of evaluating arithmetic expressions in Python

x = 3

y = 4

print (x-y)

In [1]:
# This a simple arithmeticexpression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
Seconds = 60

print (minutes/Seconds)

3.3333333333333335

## Author

Gafar A. Kareem